references
misc

codes/estimation-est-z/figs/
codes/estimation-fernald/figs/

codes/estimation-est-z/jld/
codes/estimation-fernald/jld/

codes/estimation-est-z/smm/jld/
codes/estimation-fernald/smm/jld/

codes/estimation-est-z/smm/jld/run-files/
codes/estimation-fernald/smm/jld/run-files/

codes/extract-dwage-moments/

codes/estimation-fernald-legacy/
codes/estimation-est-z-legacy/

codes/estimation-fernald/heatmaps/jld/
codes/estimation-est-z/heatmaps/jld/

codes/estimation-fernald/logs/
codes/estimation-est-z/logs/

